<h2>Hello <%= current_user.first_name %>!</h2>
<%= link_to 'Home', root_path %>
<hr>
<p>Trader Details:</p>
<p> Trader name: <%= current_user.first_name %> <%= current_user.last_name %></p>
<p> Trader email: <%= current_user.email %></p>

<p><strong>Total Shares Owned:</strong> <%= @total_shares %></p>

<% if @stocks.present? %>
  <table>
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Company Name</th>
        <th>Total Shares</th>
        <th>Total Cost</th>
      </tr>
    </thead>
    <tbody>
      <% @stocks.each do |stock| %>
        <tr>
          <td><%= stock.symbol %></td>
          <td><%= stock.company_name %></td>
          <td><%= stock.shares %></td>
          <td><%= number_to_currency(stock.cost_price) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>You have no stocks available.</p>
<% end %>