<h1>Buy & Sell Stocks</h1>
<hr>
<br>
<p>Hello, <%= current_user.first_name %></p>
<p>Your Current Balance is $<%= current_user.balance %> </p>
<p><%= link_to "Home", root_path %></p>

<p><%= link_to 'Regenerate Stocks', stocks_intraday_path %></p>

<%= form_with url: stocks_intraday_path, method: :get, local: true do |f| %>
  <%= f.label :symbol, "Stock Symbol" %>
  <%= f.text_field :symbol, value: params[:symbol] %>
  <%= f.submit "Search Stock" %>
<% end %>

<% if @stock_symbol.present? %>
  <h3>Stock: <%= @stock_symbol %></h3>
  <p>Current Price: $<%= @latest_open_value %></p>
  <p>Shares Owned: <%= @stock_shares %></p>
  <p>Total Cost: $<%= @stock_total_amount %></p>

  <%= form_with url: stocks_path, method: :post, local: true do |f| %>
    <%= f.hidden_field :symbol, value: @stock_symbol %>
    <%= f.label :shares, "Number of Shares to Buy" %>
    <%= f.number_field :shares, min: 1 %>
    <%= f.submit "Buy Shares" %>
  <% end %>

  <%= form_with url: update_stock_stocks_path, method: :put, local: true do |f| %>
    <%= f.hidden_field :symbol, value: @stock_symbol %>
    <%= f.label :subtract_shares, "Number of Shares to Sell" %>
    <%= f.number_field :subtract_shares, min: 1 %>
    <%= f.submit "Sell Shares" %>
  <% end %>
<% end %>