
<h1>Buy & Sell Stocks</h1>
<hr>
<br>
<p><%= link_to "Home", root_path %></p>


<%= form_with url: stocks_intraday_path, method: :get, local: true do |form| %>
    <%= form.label :symbol, "Enter stock symbol (e.g., MSFT)" %><br>
    <%= form.text_field :symbol, required: true %><br>
    <%= form.submit "Search Stock" %>
<% end %>

<p><%= link_to 'Regenerate Stocks', stocks_intraday_path %></p>


<% if @latest_open_value %>
    <p>Symbol: <%= @stock_symbol %></p>
    <p> Stock Price : <%= number_to_currency(@latest_open_value) %> </p> <br>

    <%= form_with url: stocks_intraday_path, local: true do |f| %>
        <div>
            <%= f.label :shares, "Buy Shares:" %><br>
            <%= f.number_field :shares, value: 0, min: 0 %>
        </div>

        <div>
            <%= f.hidden_field :symbol, value:@stock_symbol %>
        </div>

        <div>
            <%= f.submit "Add Quantity", name: "action", value: "add" %>
            <%= f.submit "Subtract Quantity", name: "action", value: "subtract" %>
        </div>
    <% end %>

    <p>Total Qty Shares: <%= @stock_shares.to_i %> </p>
    <p>Shares Total Cost: <%= number_to_currency(@stock_total_amount) %> </p>
<% end %>


    <% if false %>
    <% @stocks.each do |stock| %>  
        <p> <%= stock.shares %>  </p>
        <p> <%= stock.cost_price %> </p>
    <% end %>
    <% end %>