<p><%= link_to "Stocks Transaction", transactions_path %></p>
<p><%= link_to "Portfolio", portfolio_transactions_path %></p>

<h1>STOCK - INTRADAY.HTML / Buy & Sell Stocks</h1>
<hr>
<br>

Hi,
<%= current_user.first_name %>
<%= current_user.last_name %>
<br>
<br>
<p><%= link_to 'Regenerate Stocks', stocks_intraday_path %></p>

<%= form_with url: stocks_intraday_path, method: :get, local: true do |form| %>
    <%= form.label :symbol, "Enter stock symbol (e.g., MSFT)" %><br>
    <%= form.text_field :symbol, required: true %><br>
    <%= form.submit "Search Stock" %>
<% end %>

<% if @latest_open_value %>
    <p>Symbol: <%= @stock_symbol %></p>
    <p> Stock Price : <%= number_to_currency(@latest_open_value) %> </p> <br>

    <%= form_with url: stocks_intraday_path, local: true do |f| %>
        <div>
            <%= f.label :shares, "BUY:" %><br>
            <%= f.number_field :shares, value: 0, min: 0 %>
            <%= f.submit "Add Quantity", name: "action", value: "add" %>
        </div>

        <div>
            <%= f.hidden_field :symbol, value:@stock_symbol %>
        </div>
    <% end %>

    <p>Total Qty Shares: <%= @stock_shares.to_i %> </p>
    <p>Shares Total Cost: <%= number_to_currency(@stock_total_amount) %> </p>
<% end %>
