<div class="container">
    <div class="home-header">
        <h1>Stock Trading App</h1>
        <% if user_signed_in? %>
            <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'logout-button' %>
        <% end %>
    </div>
    <hr>
    <div class="stock-app-name">
        <h3>Stock Market App</h3>
    </div>
    <div class="nav-buttons">
        <ul class="nav-list">
            <li class="nav-list-item">
                <% if current_user.admin? %>
                    <%= link_to 'Admin Transactions', admin_transactions_path, class: 'btn btn-primary' %>
                <% else %>
                    <%= link_to 'Transactions', transactions_path, class: 'btn btn-primary' %>
                <% end %>
            </li>
            <li class="nav-list-item">
                <% if current_user.admin? %>
                    <%= link_to 'Users', admin_users_path %>
                <% else %>
                    <%= link_to 'Trade Stocks', stocks_intraday_path %>
                <% end %>
            </li>
            <li class="nav-list-item">
                <% if current_user.admin? %>
                <% else %>
                    <%= link_to 'My Porfolio', portfolios_show_path %>
                <% end %>
            </li>
        </ul>
    </div>
    <footer>
        &copy; 2024 Stock Trading App. All rights reserved.
    </footer>
</div>