<h1>Trader List</h1>
<p><%= link_to "Home", root_path %></p>
<p><%= link_to "Create New Trader", new_admin_user_path %></p>
<hr>

<table>
    <thead>
        <tr>
            <th>User ID</th>
            <th>Email</th>
            <th>Balance</th>
            <th>Admin Options</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td> <%= user.id %> </td>
                <td> <%= user.email %> </td>
                <td> <%= user.balance %> </td>
                <td>
                    <%= link_to "Show", admin_user_path(user) %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>