<h1>User Details</h1>
<%=link_to "Back", admin_users_path %>
<hr>

<p>Email: <%= @user.email %></p>
<p>First Name: <%= @user.first_name %></p>
<p>Last Name: <%= @user.last_name %></p>
<p>Balance: <%= @user.balance %></p>
<%= link_to "Edit", edit_admin_user_path(@user) %>
<%= link_to "Delete User", admin_user_path(@user), data: {
                turbo_method: :delete, turbo_confirm: "Delete user?"
                } %>
<% if @user.account_status == 'pending' %>
    <%= button_to 'Approve', approve_admin_user_path(@user), 
                method: :patch, data: { turbo_confirm: 
                "Are you sure you want to Approve this user's registration?" 
                } %>
    <%= button_to 'Deny', deny_admin_user_path(@user),
                method: :delete, data: { turbo_confirm:
                "Are you sure you want to Reject this user's registration?"
                } %>
<% end %>